<div class="trending w-8/12 mx-auto">
  <h2 class="uppercase my-6 mx-6 font-bold"><fa-icon [icon]="faTrend" class="avatar-circle mr-2" style="border: 1px solid black; padding: 3px"></fa-icon> Trending on medium</h2>

  <div class="flex flex-wrap">

    <div class="flex w-96 my-4">
      <div class="top-num text-grey-light text-[30px] mx-6" style="font-family: sohne; font-weight: 1000;">01</div>
      <div>
        <div class="flex my-1">
          <img class="avatar-xs avatar-square mr-2" src="https://miro.medium.com/focal/56/56/50/50/1*ioDKoqCuAzQuKhk9gx8uow.png" alt="">
          <a [routerLink]="['/user']" class="text-13 font-semibold">Amazon Fire TV</a>
        </div>
        <div>
          <a [routerLink]="['/post']" class="text-base font-bold leading-5">If You Ask These 4 Python Questions, You Might Still Be a Nooby</a>
        </div>
        <div class="flex my-2">
          <span class="text-grey mr-3 text-13">Jul 5 </span>
          <span class="text-grey text-13">5 min read</span>
        </div>
      </div>
    </div>


    <div class="flex w-96 my-4">
      <div class="top-num text-grey-light text-[30px] mx-6" style="font-family: sohne; font-weight: 1000;">01</div>
      <div>
        <div class="flex my-1">
          <img class="avatar-xs avatar-square mr-2" src="https://miro.medium.com/focal/56/56/50/50/1*ioDKoqCuAzQuKhk9gx8uow.png" alt="">
          <a [routerLink]="['/user']" class="text-13 font-semibold">Amazon Fire TV</a>
        </div>
        <div>
          <a [routerLink]="['/post']" class="text-base font-bold leading-5">If You Ask These 4 Python Questions, You Might Still Be a Nooby</a>
        </div>
        <div class="flex my-2">
          <span class="text-grey mr-3 text-13">Jul 5 </span>
          <span class="text-grey text-13">5 min read</span>
        </div>
      </div>
    </div>

    <div class="flex w-96 my-4">
      <div class="top-num text-grey-light text-[30px] mx-6" style="font-family: sohne; font-weight: 1000;">01</div>
      <div>
        <div class="flex my-1">
          <img class="avatar-xs avatar-square mr-2" src="https://miro.medium.com/focal/56/56/50/50/1*ioDKoqCuAzQuKhk9gx8uow.png" alt="">
          <a [routerLink]="['/user']" class="text-13 font-semibold">Amazon Fire TV</a>
        </div>
        <div>
          <a [routerLink]="['/post']" class="text-base font-bold leading-5">If You Ask These 4 Python Questions, You Might Still Be a Nooby</a>
        </div>
        <div class="flex my-2">
          <span class="text-grey mr-3 text-13">Jul 5 </span>
          <span class="text-grey text-13">5 min read</span>
        </div>
      </div>
    </div>


    <div class="flex w-96 my-4">
      <div class="top-num text-grey-light text-[30px] mx-6" style="font-family: sohne; font-weight: 1000;">01</div>
      <div>
        <div class="flex my-1">
          <img class="avatar-xs avatar-square mr-2" src="https://miro.medium.com/focal/56/56/50/50/1*ioDKoqCuAzQuKhk9gx8uow.png" alt="">
          <a [routerLink]="['/user']" class="text-13 font-semibold">Amazon Fire TV</a>
        </div>
        <div>
          <a [routerLink]="['/post']" class="text-base font-bold leading-5">If You Ask These 4 Python Questions, You Might Still Be a Nooby</a>
        </div>
        <div class="flex my-2">
          <span class="text-grey mr-3 text-13">Jul 5 </span>
          <span class="text-grey text-13">5 min read</span>
        </div>
      </div>
    </div>

    <div class="flex w-96 my-4">
      <div class="top-num text-grey-light text-[30px] mx-6" style="font-family: sohne; font-weight: 1000;">01</div>
      <div>
        <div class="flex my-1">
          <img class="avatar-xs avatar-square mr-2" src="https://miro.medium.com/focal/56/56/50/50/1*ioDKoqCuAzQuKhk9gx8uow.png" alt="">
          <a [routerLink]="['/user']" class="text-13 font-semibold">Amazon Fire TV</a>
        </div>
        <div>
          <a [routerLink]="['/post']" class="text-base font-bold leading-5">If You Ask These 4 Python Questions, You Might Still Be a Nooby</a>
        </div>
        <div class="flex my-2">
          <span class="text-grey mr-3 text-13">Jul 5 </span>
          <span class="text-grey text-13">5 min read</span>
        </div>
      </div>
    </div>


    <div class="flex w-96 my-4">
      <div class="top-num text-grey-light text-[30px] mx-6" style="font-family: sohne; font-weight: 1000;">01</div>
      <div>
        <div class="flex my-1">
          <img class="avatar-xs avatar-square mr-2" src="https://miro.medium.com/focal/56/56/50/50/1*ioDKoqCuAzQuKhk9gx8uow.png" alt="">
          <a [routerLink]="['/user']" class="text-13 font-semibold">Amazon Fire TV</a>
        </div>
        <div>
          <a [routerLink]="['/post']" class="text-base font-bold leading-5">If You Ask These 4 Python Questions, You Might Still Be a Nooby</a>
        </div>
        <div class="flex my-2">
          <span class="text-grey mr-3 text-13">Jul 5 </span>
          <span class="text-grey text-13">5 min read</span>
        </div>
      </div>
    </div>



  </div>
</div>








