.content
  width:100%
  min-height: 1200px
  margin: 20px
  padding: 30px 2% 1% 2%
  box-shadow: -5px 0 2px -5px var(--grey-light)

.left-bar
  position: sticky

.header
  display: none

@media only screen and (max-width: 775px)
  .content
    box-shadow: none

  .left-bar
    display: none

  .header
    display: block

.messanger
  height: 1200
  position: sticky
  min-width: 400px
  padding: 15px
  box-shadow: -5px 0 2px -5px var(--grey-light)

