.content
  width: 93%
  display: flex
  justify-content: center

  min-height: 1200px
  margin: 0 15px
  padding: 30px 2% 1% 2%
  box-shadow: -5px 0 2px -5px var(--grey-light)

.left-bar
  position: sticky
  width: 20%

.header
  display: none

@media only screen and (max-width: 775px)
  .content
    box-shadow: none

  .left-bar
    display: none

  .header
    display: block

.messanger
  height: 1200
  position: sticky
  padding: 15px
  box-shadow: -5px 0 2px -5px var(--grey-light)
  width: 45%
  max-width: 430px



@media only screen and (max-width: 1555px)
  .content
    width: 60%
    margin-left: -80px

// @media only screen and (max-width: 1048px)
//   .content
//       width: 50%
