<div class="header">
  <app-header
    [faBell]="faBell">
  </app-header>
</div>


<div class="flex">
  <div class="left-bar h-full">
  <app-left-bar
    [faHome]="faHome"
    [faBell]="faBell"
    [faNotes]="faNotes"
    [faBookmark]="faBookmark"
    [faPenToSquare]="faPenToSquare"
    [faMessage]="faMessage">
  </app-left-bar>
</div>


  <div class="content">
    <app-main-header></app-main-header>
  </div>


<!-- <div class="messanger my-4">
  <app-messanger
      [faCircle]="faCircle"></app-messanger>
</div> -->

<div class="right-bar">
  <app-right-side
      [faSearch]="faSearch"
      [faPlus]="faPlus"></app-right-side>
</div>


</div>

