/* You can add global styles to this file, and also import other style files */
@tailwind base
@tailwind components
@tailwind utilities


// colors:
:root
  --black-strong: rgba(41, 41, 41, 1)
  --black-light: rgba(8, 8, 8, 1)
  --white: rgba(255, 255, 255, 1)
  --grey-light: #0000003b
  --grey-strong: #00000084
  --grey-lighter: rgba(242, 242, 242, 1)
  --grey-darck: #434141
  --green-link: rgba(26, 137, 23, 1)
  --blue-light: rgba(0, 146, 216, 1)


*
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif
  letter-spacing: -0.025em


a
  word-spacing: 0px

body
  color: var(--black-strong)
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 12px
  text-align: justify


::-webkit-scrollbar
  width: 10px

::-webkit-scrollbar-track
  box-shadow: inset 0 0 5px white
  border-radius: 15px

::-webkit-scrollbar-thumb
  background: var(--grey-light)
  border-radius: 10px

::-webkit-scrollbar-thumb:hover
  background: var(--grey-strong)


.logo
  margin-left: 10px

.logo1, .logo2, .logo3
  display: block
  height: 28px
  margin: auto 0.5px
  border: 1px solid var(--black-strong)
  background-color: var(--black-strong)
  border-radius: 50%

.logo1
  width: 27px

.logo2
  margin-top: 3px
  height: 24px
  width: 12px

.logo3
  margin-top: 5px
  height: 20px
  width: 6px

.avatar-circle
  border-radius: 50%



.avatar-xs
    border: 1px solid grey
    border-radius: 50px
    width: 20px
    height: 20px

.avatar-square
  border-radius: 5px

input
  border: 1px solid var(--grey-lighter)
  padding: 10px 10px 10px 40px
  border-radius: 20px
  font-size: 1.2em

.tag
  background-color: var(--grey-lighter)
  border-radius: 15px
  white-space: nowrap

.link-more
  font-size: 1.1em
  font-weight: 400
  color: var(--green-link)

.link-more:hover
  color: black

.text-grey
  color: grey
  font-weight: 400

.text-grey-light
  color: var(--grey-light)

.text-black
  color: var(--black-light)



.text-13
  font-size: 13px

.hover-underline:hover
  text-decoration: underline

.hover-dark-grey:hover
  color: var(--grey-darck)

.my-4-underline
  display: inline-block
  border-bottom: 1px solid black
  padding-bottom: 17px

.bg-blue-500
  background-color: var(--blue-light)

.bg-green-650
  background-color: var(--green-link)


.right-side-block
  margin: 50px 30px
  position: sticky
  top: 0px
  min-height: 1000px


.saved-brief-info
  color: grey

hr
  margin-top: -40px

.main-content
  // max-width: 100px
  overflow: hidden
  width: 100%
  margin: auto

.content
  min-width: 900px
  justify-content: center
  min-height: 1200px
  margin: 0 15px
  padding: 30px 2% 1% 2%
  border-right: 1px solid  var(--grey-lighter)
  box-shadow: -5px 0 2px -5px var(--grey-light)

.right-bar
    width: 30%

.left-bar
  position: sticky
  width: 20%

// .header
//   display: none

.messanger
  height: 1200
  position: sticky
  padding: 15px
  width: 45%
  max-width: 430px


@media only screen and (max-width: 1300px)
  .content
    margin-left: 10px
    min-width: 300px

@media only screen and (max-width: 1150px)
  .content
    margin-left: 15px
    width: 60%

@media only screen and (max-width: 1225px)
  .right-side-block
    // width: 300px
    margin: 60px 15px
  hr
    width: 290px


@media only screen and (max-width: 1025px)
  hr
    width: 240px


@media only screen and (max-width: 955px)
  .content
    box-shadow: none

  .left-bar
    display: none

  .header
    display: block





