/* You can add global styles to this file, and also import other style files */
@tailwind base
@tailwind components
@tailwind utilities


// colors:
:root
  --black-strong: rgba(41, 41, 41, 1)
  --black-light: rgba(8, 8, 8, 1)
  --white: rgba(255, 255, 255, 1)
  --grey-light: #0000003b
  --grey-strong: #00000084

body
  color: var(--black-strong)
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 16px
  text-align: justify

.logo
  margin-left: 30px

.logo1, .logo2, .logo3
  display: block
  height: 31px
  margin: auto 0.5px
  border: 1px solid var(--black-strong)
  background-color: var(--black-strong)
  border-radius: 50%

.logo1
  width: 30px

.logo2
  margin-top: 6px
  height: 29px
  width: 15px

.logo3
  margin-top: 9px
  height: 25px
  width: 6px
