<div class="flex mt-16 w-11/12 max-w-[1200px] mx-auto" style="margin-bottom: -80px;">
  <div>
    <h2 class="text-[102px] font-normal text-black" style="white-space: nowrap; font-family: Cambria; letter-spacing: -2px">Stay curious.</h2>
    <p class="text-2xl max-w-[450px] leading-6 pb-14" style=" font-family: sohne; ">Discover stories, thinking, and expertise from writers on any topic.</p>
    <div>
      <a href="#" class="bg-neutral-900 hover:bg-black text-white py-2 px-10 rounded-full font-semibold text-xl">Start reading</a>
    </div>
  </div>
  <div style="position: relative; left: 150px; top: -75px">
    <pre class="text-2xl font-100" style="font-family: Helvetica;">
                     M                       M                 M       M          M                 M
             M        M           M         M         M                      M        M        M     M     M
                   M               M    M                         M   M       M       M     M  M         M
                                                     M           M   M          M              M    M
                  M              M     M               M               M                M    M
          M         M                             M               M               M     M
                        M     M        M         M         M    M               M        M   M          M
                 M                     M       M      M                     M   M            M M
                                                        M              M     M             M        M
            M     M                       M                  M    M          M        M          M    M M      M  M
                       M     MM                 M     M          M        M        M        M
                                  M M                    M  M   M    M          M      M      M      M
                      M M              M      M      M                M         M      M          M          M
    </pre>
  </div>
</div>
