<div class="main">

  <div class="header">
    <div class="tags flex">
    <div class="text px-4 py-2 m-1 w-fit">Your Topics</div>
    <div class="tag px-4 py-2 m-1 w-fit">StartUp</div>
    <div class="tag px-4 py-2 m-1 w-fit"> DevOps</div>
    <div class="tag px-4 py-2 m-1 w-fit">Web Dev</div>
    <div class="tag px-4 py-2 m-1 w-fit">AWS</div>
    <div class="tag px-4 py-2 m-1 w-fit">GameDev</div>
    <div class="tag px-4 py-2 m-1 w-fit">Swift</div>
    <div class="tag px-4 py-2 m-1 w-fit">Dart/Flutter</div>

  </div>


  <div class="chanels flex">
    <div><img class="chanel" src="https://cdn-images-1.medium.com/max/1200/1*ty4NvNrGg4ReETxqU2N3Og.png" alt="..."></div>
    <div><img class="chanel" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="..."></div>
    <div><img class="chanel" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Amazon_Web_Services_Logo.svg/1280px-Amazon_Web_Services_Logo.svg.png" alt="..."></div>
    <div><img class="chanel" src="https://abc.xyz/img/logo_2x.png" alt="..."></div>

  </div>

  <div class="category flex">
    <p>Followig</p>
    <p>Recommended</p>
  </div>

  <hr class="recommend">
  </div>



  <div class="line">
      <div class="flex">

        <div class="post-content">
          <div class="user-info flex">
            <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
            <p> <span class="user-name">Emma Twersky</span>  in <span class="tag">REST Full API</span>|<span class="date">June 5, 2022</span></p>
          </div>
          <h2 class="title">API, REST API and RESTful API</h2>
          <p class="post-text">REST API and RESTful API used in the modern state of client/server architecture in software development. In this article you will be introducing to APIs, Rest API and Restful APIs. Table of content ● What is API?...</p>
        </div>

        <div class="img"><img class="post-img" src="https://miro.medium.com/fit/c/112/112/1*VtzBqZ-yYr_c6DpJsQkiyA.png" alt="..."></div>
      </div>
      <hr>
  </div>




  <div class="line">
      <div class="flex">

        <div class="post-content">
          <div class="user-info flex">
            <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
            <p> <span class="user-name">Kavindu Chethani</span>  in <span class="tag">Django</span>|<span class="date">June 5, 2022</span></p>
          </div>
          <h2 class="title">Advanced Django Queries you should know.</h2>
          <p class="post-text">When working on large applications, especially those that involve high database computation like financial technology products with banking or payments generally, the need to write optimised and efficient queries...</p>
        </div>

        <div class="img"><img class="post-img" src="https://miro.medium.com/fit/c/112/112/1*KrFcaaw0JX3wx7WzuwU1eA.png" alt="..."></div>
      </div>
      <hr>
  </div>


  <div class="line">
      <div class="flex">

        <div class="post-content">
          <div class="user-info flex">
            <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
            <p> <span class="user-name">Amit Kumar Manjhi</span>  in <span class="tag">Python</span>|<span class="date">June 5, 2022</span></p>
          </div>
          <h2 class="title">PyScript : Python in the Browser</h2>
          <p class="post-text">If you only write code into python but you are also interested to build fancy websites in a browser then at PyCon US 2022, Anaconda’s CEO Peter Wang announced a new technology called PyScript that allows users to write..</p>
        </div>

        <div class="img"><img class="post-img" src="https://miro.medium.com/fit/c/112/112/0*uBzpp8PbtajmBBtw" alt="..."></div>
      </div>
  </div>


  <div class="line">
    <div class="flex">

      <div class="post-content">
        <div class="user-info flex">
          <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
          <p> <span class="user-name">Emma Twersky</span>  in <span class="tag">REST Full API</span>|<span class="date">June 5, 2022</span></p>
        </div>
        <h2 class="title">API, REST API and RESTful API</h2>
        <p class="post-text">REST API and RESTful API used in the modern state of client/server architecture in software development. In this article you will be introducing to APIs, Rest API and Restful APIs. Table of content ● What is API?...</p>
      </div>

      <div class="img"><img class="post-img" src="https://miro.medium.com/fit/c/112/112/1*VtzBqZ-yYr_c6DpJsQkiyA.png" alt="..."></div>
    </div>
    <hr>
  </div>




  <div class="line">
    <div class="flex">

      <div class="post-content">
        <div class="user-info flex">
          <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
          <p> <span class="user-name">Kavindu Chethani</span>  in <span class="tag">Django</span>|<span class="date">June 5, 2022</span></p>
        </div>
        <h2 class="title">Advanced Django Queries you should know.</h2>
        <p class="post-text">When working on large applications, especially those that involve high database computation like financial technology products with banking or payments generally, the need to write optimised and efficient queries...</p>
      </div>

      <div class="img"><img class="post-img" src="https://miro.medium.com/fit/c/112/112/1*KrFcaaw0JX3wx7WzuwU1eA.png" alt="..."></div>
    </div>
    <hr>
  </div>


  <div class="line">
    <div class="flex">

      <div class="post-content">
        <div class="user-info flex">
          <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
          <p> <span class="user-name">Amit Kumar Manjhi</span>  in <span class="tag">Python</span>|<span class="date">June 5, 2022</span></p>
        </div>
        <h2 class="title">PyScript : Python in the Browser</h2>
        <p class="post-text">If you only write code into python but you are also interested to build fancy websites in a browser then at PyCon US 2022, Anaconda’s CEO Peter Wang announced a new technology called PyScript that allows users to write..</p>
      </div>

      <div class="img"><img class="post-img" src="https://miro.medium.com/fit/c/112/112/0*uBzpp8PbtajmBBtw" alt="..."></div>
    </div>
  </div>


  <div class="line">
    <div class="flex">

      <div class="post-content">
        <div class="user-info flex">
          <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
          <p> <span class="user-name">Emma Twersky</span>  in <span class="tag">REST Full API</span>|<span class="date">June 5, 2022</span></p>
        </div>
        <h2 class="title">API, REST API and RESTful API</h2>
        <p class="post-text">REST API and RESTful API used in the modern state of client/server architecture in software development. In this article you will be introducing to APIs, Rest API and Restful APIs. Table of content ● What is API?...</p>
      </div>

      <div class="img"><img class="post-img" src="https://miro.medium.com/fit/c/112/112/1*VtzBqZ-yYr_c6DpJsQkiyA.png" alt="..."></div>
    </div>
    <hr>
  </div>




  <div class="line">
    <div class="flex">

      <div class="post-content">
        <div class="user-info flex">
          <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
          <p> <span class="user-name">Kavindu Chethani</span>  in <span class="tag">Django</span>|<span class="date">June 5, 2022</span></p>
        </div>
        <h2 class="title">Advanced Django Queries you should know.</h2>
        <p class="post-text">When working on large applications, especially those that involve high database computation like financial technology products with banking or payments generally, the need to write optimised and efficient queries...</p>
      </div>

      <div class="img"><img class="post-img" src="https://miro.medium.com/fit/c/112/112/1*KrFcaaw0JX3wx7WzuwU1eA.png" alt="..."></div>
    </div>
    <hr>
  </div>


  <div class="line">
    <div class="flex">

      <div class="post-content">
        <div class="user-info flex">
          <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
          <p> <span class="user-name">Amit Kumar Manjhi</span>  in <span class="tag">Python</span>|<span class="date">June 5, 2022</span></p>
        </div>
        <h2 class="title">PyScript : Python in the Browser</h2>
        <p class="post-text">If you only write code into python but you are also interested to build fancy websites in a browser then at PyCon US 2022, Anaconda’s CEO Peter Wang announced a new technology called PyScript that allows users to write..</p>
      </div>

      <div class="img"><img class="post-img" src="https://miro.medium.com/fit/c/112/112/0*uBzpp8PbtajmBBtw" alt="..."></div>
    </div>
  </div>


  <div class="line">
    <div class="flex">

      <div class="post-content">
        <div class="user-info flex">
          <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
          <p> <span class="user-name">Emma Twersky</span>  in <span class="tag">REST Full API</span>|<span class="date">June 5, 2022</span></p>
        </div>
        <h2 class="title">API, REST API and RESTful API</h2>
        <p class="post-text">REST API and RESTful API used in the modern state of client/server architecture in software development. In this article you will be introducing to APIs, Rest API and Restful APIs. Table of content ● What is API?...</p>
      </div>

      <div class="img"><img class="post-img" src="https://miro.medium.com/fit/c/112/112/1*VtzBqZ-yYr_c6DpJsQkiyA.png" alt="..."></div>
    </div>
    <hr>
  </div>




  <div class="line">
    <div class="flex">

      <div class="post-content">
        <div class="user-info flex">
          <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
          <p> <span class="user-name">Kavindu Chethani</span>  in <span class="tag">Django</span>|<span class="date">June 5, 2022</span></p>
        </div>
        <h2 class="title">Advanced Django Queries you should know.</h2>
        <p class="post-text">When working on large applications, especially those that involve high database computation like financial technology products with banking or payments generally, the need to write optimised and efficient queries...</p>
      </div>

      <div class="img"><img class="post-img" src="https://miro.medium.com/fit/c/112/112/1*KrFcaaw0JX3wx7WzuwU1eA.png" alt="..."></div>
    </div>
    <hr>
  </div>


  <div class="line">
    <div class="flex">

      <div class="post-content">
        <div class="user-info flex">
          <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
          <p> <span class="user-name">Amit Kumar Manjhi</span>  in <span class="tag">Python</span>|<span class="date">June 5, 2022</span></p>
        </div>
        <h2 class="title">PyScript : Python in the Browser</h2>
        <p class="post-text">If you only write code into python but you are also interested to build fancy websites in a browser then at PyCon US 2022, Anaconda’s CEO Peter Wang announced a new technology called PyScript that allows users to write..</p>
      </div>

      <div class="img"><img class="post-img" src="https://miro.medium.com/fit/c/112/112/0*uBzpp8PbtajmBBtw" alt="..."></div>
    </div>
  </div>
</div>

