<div class="main">

  <div class="header">
    <div class="tags flex">
    <div class="text px-4 py-2 m-1 w-fit">Your Topics</div>
    <div class="tag px-4 py-2 m-1 w-fit">StartUp</div>
    <div class="tag px-4 py-2 m-1 w-fit"> DevOps</div>
    <div class="tag px-4 py-2 m-1 w-fit">Web Dev</div>
    <div class="tag px-4 py-2 m-1 w-fit">AWS</div>
    <div class="tag px-4 py-2 m-1 w-fit">GameDev</div>
    <div class="tag px-4 py-2 m-1 w-fit">Swift</div>
    <div class="tag px-4 py-2 m-1 w-fit">Dart/Flutter</div>

  </div>


  <div class="chanels flex">
    <div><img class="chanel" src="https://cdn-images-1.medium.com/max/1200/1*ty4NvNrGg4ReETxqU2N3Og.png" alt="..."></div>
    <div><img class="chanel" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="..."></div>
    <div><img class="chanel" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Amazon_Web_Services_Logo.svg/1280px-Amazon_Web_Services_Logo.svg.png" alt="..."></div>
    <div><img class="chanel" src="https://abc.xyz/img/logo_2x.png" alt="..."></div>

  </div>

  <div class="category flex">
    <p>Followig</p>
    <p>Recommended</p>
  </div>

  <hr class="recommend">
  </div>

</div>

