<div class="recomendation-post">
  <a href="#" class="self-recomendation font-bold">More from Medium</a>
  <div class="flex my-1">
    <div class="recomendation-preview">
      <div class="user-info flex">
        <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
        <a href="#">Emma Twersky</a>
      </div>
      <a [routerLink]="['/post']" routerLinkActive="router-link-active" class="post-title">Face to Face With Dall-E, The AI Artist That Might Change The World</a>
    </div>
    <img class="avatar-lg w-16 h-16 mt-8 mx-2" src="https://miro.medium.com/focal/56/56/50/50/1*ioDKoqCuAzQuKhk9gx8uow.png" alt="...">
  </div>
  <div class="flex my-1">
    <div class="recomendation-preview">
      <div class="user-info flex">
        <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
        <a href="#">Emma Twersky</a>
      </div>
      <a [routerLink]="['/post']" routerLinkActive="router-link-active" class="post-title">Face to Face With Dall-E, The AI Artist That Might Change The World</a>
    </div>
    <img class="avatar-lg w-16 h-16 mt-8 mx-2 mt-6" src="https://miro.medium.com/focal/56/56/50/50/1*vHimtUHonwvHmAHImz7bNg.jpeg" alt="...">
  </div>
  <div class="flex my-1">
    <div class="recomendation-preview">
      <div class="user-info flex">
        <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
        <a href="#">Emma Twersky</a>
      </div>
      <a [routerLink]="['/post']" routerLinkActive="router-link-active" class="post-title">Face to Face With Dall-E, The AI Artist That Might Change The World</a>
    </div>
    <img class="avatar-lg w-16 h-16 mt-8 mx-2" src="https://miro.medium.com/focal/56/56/50/50/1*3n8D8mGs1HSK9yRhhADY1w.png" alt="...">
  </div>


</div>

