<div class="right-side-block">
  <button class="bg-blue-400 over:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Make Contributions</button>
  <fa-icon [icon]="faSearch" class="faSearch"></fa-icon>
  <input type="text" placeholder="Search">

  <div class="recomendation-post">
    <a href="#" class="self-recomendation"><span class="dot"></span> What We're Reading Today</a>


    <div class="recomendation-preview">
      <div class="user-info flex">
        <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
        <p>Emma Twersky</p>
      </div>
      <h2 class="title">Face to Face With Dall-E, The AI Artist That Might Change The World</h2>
    </div>

    <div class="recomendation-preview">
      <div class="user-info flex">
        <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
        <p>Emma Twersky</p>
      </div>
      <h2 class="title">Face to Face With Dall-E, The AI Artist That </h2>
    </div>

    <div class="recomendation-preview">
      <div class="user-info flex">
        <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
        <p>Emma Twersky</p>
      </div>
      <h2 class="title">Face to Face With Dall-E, The AI</h2>
    </div>


    <a href="#" class="link-more">See the full list</a>

    <div class="twitter">
      <div class="twitter-icons flex">
        <div class="flex logo">
          <span class="logo1"></span>
          <span class="logo2"></span>
          <span class="logo3"></span>
        </div>
        <fa-icon [icon]="faPlus" class="faPlus"></fa-icon>
        <img class="twitter-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/2491px-Twitter-logo.svg.png" alt="...">
      </div>
      <p>Discover Medium writers you already follow on Twitter.</p>
      <div class="subscribe-to-twitter">Connect to twitter</div>
      <img class="twitter-icon tw-sub" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/2491px-Twitter-logo.svg.png" alt="...">

    </div>
    <a href="#" class="later">Maybe later</a>
    <hr>
  </div>
</div>



