.right-side-block
  width: 330px
  margin: 50px 30px
  position: sticky
  top: 0px
  min-height: 1000px

.bg-blue-400
  background-color: var(--black-strong)
  font-weight: 400
  display: block
  width: 320px
  padding: 10px

.bg-blue-400:hover
  background-color: var(--black-light)

.faSearch
  position: relative
  right: -12px
  font-size: 1.3em

input
  width: 325px
  margin: 30px 0 0 -16px




.dot
  display: block
  position: relative
  top: 16px
  left: -15px
  width: 7px
  height: 7px
  border: 1px solid green
  border-radius: 20px


.self-recomendation, h3
  display: inline-block
  margin-left: 10px
  font-size: 1.5em
  font-weight: 600


.self-recomendation
  font-size: 1.3em

.recomendation-post
  margin: 20px 20px

.recomendation-preview
  margin: 15px 0

  .title
    margin: 10px 0
    font-size: 1.3em
    font-weight: 700
    max-width: 270px


.user-info
  .avatar-xs
    border: 1px solid grey
    border-radius: 50px
    width: 20px
    height: 20px
  p
    padding: 0 12px
    font-size: 1.1em
    font-weight: 600
.recomendation-preview
  .saved-info
    .user
      font-size: 1.2em
      color: grey

    a
      font-weight: 500
      color: black

    img
      width: 25px
      height: 25px


.saved-brief-info
  color: grey



.link-more
  font-size: 1.1em
  font-weight: 400
  color: var(--green-link)

.link-more:hover
  color: black


.twitter-icons
  justify-content: center


.faPlus
  margin: 35px 5px 0 5px
  font-size: 1.5em
  font-weight: 100

.twitter-icon
  width: 26px
  height: 28px
  padding-top: 6px



.logo, .twitter-icon
  margin: 35px 0 25px 0

.twitter
  p
    width: fit-content
    // max-width: 200px
    font-size: 1.3em
    text-align: center
    color: grey

.subscribe-to-twitter
  border: 1px solid var(--grey-light)
  padding: 10px
  padding-left: 65px
  border-radius: 25px
  margin: 20px 0 0 0px
  font-size: 1.2em

.subscribe-to-twitter:hover, .follow-btn:hover
  border-color: var(--grey-strong)

.tw-sub
  position: relative
  top: -73px
  left: 30px

.later
  position: relative
  top: -70px
  left: 105px
  font-size: 1.2em
  text-decoration: underline
  color: grey

hr
  margin-top: -40px

.tags
  flex-wrap: wrap
  margin: 10px 0px
  max-width: 300px


  .tag
    text-align: center
  // align-items: flex-start


h3
  font-size: 1.35em
  margin-top: 20px

.recomendation-preview
  img
    width: 55px
    height: 55px

  .user-info
    a
      padding: 5px 12px
      font-weight: 800
      font-size: 1.3em

    .user-preview
      width: 200px
      font-weight: 400
      color: grey

.follow-btn
  position: relative
  top: 17px
  padding: 2px 12px 9px 12px
  border: 1px solid var(--grey-light)
  border-radius: 20px
  height: 30px
  font-size: 1.3em


@media only screen and (max-width: 1225px)
  .right-side-block
    width: 420px
    margin: 60px 15px

  input, .bg-blue-400, .twitter-icons, .subscribe-to-twitter, hr
    width: 290px

  .recomendation-post
    margin: 20px 0

  .recomendation-preview
    .title
      max-width: 220px

  .twitter
    p
      padding-left: 60px
      max-width: 220px

@media only screen and (max-width: 1025px)

  input, .bg-blue-400, .subscribe-to-twitter, hr
    width: 240px

  .later
    left: 75px

  .twitter-icons
    width: 235px

  .twitter
    p
      padding-left: 38px
      max-width: 190px
  .tags
      max-width: 250px

  .recomendation-preview
    .user-preview
      width: 150px!important





