<div class="saved my-3">
  <h3>Resently saved</h3>

  <div class="recomendation-preview">
    <div class="saved-info flex">
      <img src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
      <div class="user"><a href="#">Emma Twersky</a> in <a href="#">Angular Blog</a></div>
    </div>
    <h2 class="title">Face to Face With Dall-E, The AI Artist That Might Change The World</h2>
    <p class="saved-brief-info">8 June, 2022 | 8 min read</p>
  </div>

  <div class="recomendation-preview">
    <div class="saved-info flex">
      <img src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
      <div class="user"><a href="#">Emma Twersky</a> in <a href="#">Angular Blog</a></div>
    </div>
    <h2 class="title">Face to Face With Dall-E, The AI Artist That Might Change The World</h2>
    <p class="saved-brief-info">8 June, 2022 | 8 min read</p>
  </div>

  <div class="recomendation-preview">
    <div class="saved-info flex">
      <img src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
      <div class="user"><a href="#">Emma Twersky</a> in <a href="#">Angular Blog</a></div>
    </div>
    <h2 class="title">Face to Face With Dall-E, The AI Artist That Might Change The World</h2>
    <p class="saved-brief-info">8 June, 2022 | 8 min read</p>
  </div>

 <a href="#" class="link-more">See all (18)</a>
</div>
