<div class="twitter">
  <div class="twitter-icons flex">
    <div class="flex logo">
      <span class="logo1"></span>
      <span class="logo2"></span>
      <span class="logo3"></span>
    </div>
    <fa-icon [icon]="faPlus" class="faPlus"></fa-icon>
    <img class="twitter-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/2491px-Twitter-logo.svg.png" alt="...">
  </div>
  <p>Discover Medium writers you already follow on Twitter.</p>
  <div class="subscribe-to-twitter">Connect to twitter</div>
  <img class="twitter-icon tw-sub" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/2491px-Twitter-logo.svg.png" alt="...">

</div>
<a href="#" class="later">Maybe later</a>
