  <div class="flex justify-between p-7 w-11/12 max-w-[1250px] m-auto" style="margin-top: -500px">
    <div class="flex">
      <div class="flex logo">
        <div>
          <span class="logo1"></span>
        </div>
        <div>
          <span class="logo2"></span>
        </div>
        <div>
          <span class="logo3"></span>
        </div>
      </div>
      <h2 class="text-[30px] font-bold mx-1 text-black" style="margin-top: -10px;font-family: Times New Roman; letter-spacing: -2px">Medium</h2>
    </div>

    <div class="flex my-1">
      <div class="text-sm mx-3"><a href="#">Our story</a></div>
      <div class="text-sm mx-3"><a href="#">Membership</a></div>
      <div class="text-sm mx-3"><a href="#">Write</a></div>
      <div class="text-sm mx-3"><a href="#">Sing In</a></div>
      <div class="text-sm mx-3"><a href="#" class="bg-black text-white py-2 px-4 rounded-full">Get started</a></div>
    </div>



  </div>

