<div class="recomendation-post">
  <a href="#" class="self-recomendation"><span class="dot"></span> What We're Reading Today</a>
  <div class="recomendation-preview">
    <div class="user-info flex">
      <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
      <p>Emma Twersky</p>
    </div>
    <a [routerLink]="['/post']" routerLinkActive="router-link-active" class="post-title">Face to Face With Dall-E, The AI Artist That Might Change The World</a>
  </div>

  <div class="recomendation-preview">
    <div class="user-info flex">
      <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
      <p>Emma Twersky</p>
    </div>
    <a [routerLink]="['/post']" routerLinkActive="router-link-active" class="post-title">Face to Face With Dall-E, The AI Artist That </a>
  </div>

  <div class="recomendation-preview">
    <div class="user-info flex">
      <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
      <p>Emma Twersky</p>
    </div>
    <a [routerLink]="['/post']" routerLinkActive="router-link-active" class="post-title">Face to Face With Dall-E, The AI</a>
  </div>


<a href="#" class="link-more">See the full list</a>
</div>
