<div class="users">
  <ul class="user-line flex w-full m-auto">
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
  </ul>
</div>

<div class="chat-content m-8">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi totam quae repudiandae aliquid neque, sit commodi sint distinctio voluptates eaque maiores corporis. Repudiandae hic minima enim, ex non est quia.
  Maxime aspernatur assumenda officiis modi veritatis quisquam, accusantium velit esse consectetur tenetur eius, nostrum vero minima voluptatem est, ea corrupti fugit? Labore deserunt beatae iusto officia, porro nesciunt odio nemo!
  Officia consequuntur ea illo quo distinctio cumque, provident adipisci deserunt corporis suscipit doloremque quae qui itaque voluptates reiciendis atque eaque modi animi laborum ut autem ipsum nulla iste. Commodi, rerum.
  Ullam accusantium, repudiandae pariatur reprehetate at ad? Veniam quidem accusantium, autem ex reiciendis dolorum sapiente atque alias laudantium aliquid, minus quae assumenda modi dolor. Pariatur velit amet doloribus!
</div>

<div class="chat-box m-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, sed dolor saepe accusantium doloribus dolores suscipit rem cumque ducimus ipsum mollitia quas doloremque similique voluptas nihil, maiores officiis nobis natus.
Omnis alias, blanditiis vero quasi at vitae earum sit obcaecati error nesciunt aperiam atque, laborum consequuntur et possimusitatis iste sequi, accusamus sunt. Eum iste dicta facere omnis magnam dolorum assumenda laudantium libero?</div>
