<div class="users">
  <ul class="user-line flex w-full m-auto">
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
  </ul>
</div>

<div class="chat-content my-8 mx-2 px-4 py-4 w-1/4">
  <ul class="chat-thread">
    <li>Are we meeting today?</li>
    <li>yes, what time suits you?</li>
    <li>I was thinking after lunch, I have a meeting in the morning</li>
  </ul>

  <form class="chat-window">
    <input class="chat-window-message" name="chat-window-message" type="text" autocomplete="off" autofocus />
  </form>
</div>

<div class="chat-box my-8 mx-2 px-2 py-2 w-1/4">
  <textarea class="w-full" name="chat" id="chat" cols="42" rows="4"></textarea>
<div class="chat-tools flex justify-between">
  <div class="chat-tool-group">
    <fa-icon [icon]="faCircle" class="pl-1 text-xl"></fa-icon>
    <fa-icon [icon]="faCircle" class="pl-1 text-xl"></fa-icon>
    <fa-icon [icon]="faCircle" class="pl-1 text-xl"></fa-icon>
  </div>
  <span class="pr-1 text-xl send-btn">>>>></span>
</div>
</div>
