<div class="users">
  <ul class="user-line flex w-full m-auto">
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
    <li class="user">
      <fa-icon [icon]="faCircle"></fa-icon>
    </li>
  </ul>
</div>

<div class="flex">

  <div class="chat-content my-8 mx-0 px-4 py-4">
    <div class="ps-container ps-theme-default ps-active-y" id="chat-content">
      <div class="media media-chat">
        <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
        <div class="media-body">
          <p>Hi</p>
          <p>How are you ...???</p>
          <p>What are you doing tomorrow?<br> Can we come up a bar?</p>
          <p class="meta"><time datetime="2018">23:58</time></p>
        </div>
      </div>

      <div class="media media-meta-day">Today</div>

      <div class="media media-chat media-chat-reverse">
        <div class="media-body">
          <p>Hiii, I'm good.</p>
          <p>How are you doing?</p>
          <p>Long time no see! Tomorrow office. will be free on sunday.</p>
          <p class="meta"><time datetime="2018">00:06</time></p>
        </div>
      </div>

      <div class="media media-chat">
        <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
        <div class="media-body">
          <p>Okay</p>
          <p>We will go on sunday? </p>
          <p class="meta"><time datetime="2018">00:07</time></p>
        </div>
      </div>

      <div class="media media-chat media-chat-reverse">
        <div class="media-body">
          <p>That's awesome!</p>
          <p>I will meet you Sandon Square sharp at 10 AM</p>
          <p>Is that okay?</p>
          <p class="meta"><time datetime="2018">00:09</time></p>
        </div>
      </div>

      <div class="media media-chat">
        <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
        <div class="media-body">
          <p>Okay i will meet you on Sandon Square </p>
          <p class="meta"><time datetime="2018">00:10</time></p>
        </div>
      </div>

      <div class="media media-chat media-chat-reverse">
        <div class="media-body">
          <p>Do you have pictures of Matley Marriage?</p>
          <p class="meta"><time datetime="2018">00:10</time></p>
        </div>
      </div>

      <div class="media media-chat">
        <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
        <div class="media-body">
          <p>Sorry I don't have. i changed my phone.</p>
          <p class="meta"><time datetime="2018">00:12</time></p>
        </div>
      </div>

      <div class="media media-chat media-chat-reverse">
        <div class="media-body">
          <p>Okay then see you on sunday!!</p>
          <p class="meta"><time datetime="2018">00:12</time></p>
        </div>
      </div>

    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div></div></div>

    <div class="publisher bt-1 border-light">
      <img class="avatar avatar-lg avatar-circle" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
      <input class="publisher-input" type="text" placeholder="Write something">
      <span class="publisher-btn file-group">
        <i class="fa fa-paperclip file-browser"></i>
        <input type="file">
      </span>
      <a class="publisher-btn" href="#" data-abc="true"><i class="fa fa-smile"></i></a>
      <a class="publisher-btn text-info" href="#" data-abc="true"><i class="fa fa-paper-plane"></i></a>
    </div>

  </div>

  <div class="friends">
    <div><img class="avatar-m" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."></div>
    <div><img class="avatar-m" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."></div>
    <div><img class="avatar-m" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."></div>
    <div><img class="avatar-m" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."></div>
    <div><img class="avatar-m" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."></div>
    <div><img class="avatar-m" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."></div>
    <div><img class="avatar-m" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."></div>
    <div><img class="avatar-m" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."></div>
    <div><img class="avatar-m" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."></div>
    <div><img class="avatar-m" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."></div>
    <div><img class="avatar-m" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."></div>
    <div><img class="avatar-m" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."></div>
    <div><img class="avatar-m" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."></div>
</div>


<!-- <div class="chat-box my-8 mx-0 px-2 py-2 w-1/4">
  <textarea class="w-full" name="chat" id="chat" cols="42" rows="4"></textarea>
<div class="chat-tools flex justify-between">
  <div class="chat-tool-group">
    <fa-icon [icon]="faCircle" class="pl-1 text-xl"></fa-icon>
    <fa-icon [icon]="faCircle" class="pl-1 text-xl"></fa-icon>
    <fa-icon [icon]="faCircle" class="pl-1 text-xl"></fa-icon>
  </div>
  <span class="pr-1 text-xl send-btn">>>>></span>
</div>
</div> -->
