.user
  margin-left: 5px
  font-size: 36px

.users
  padding: 30px
  position: fixed
  top: 4%
  bottom: 80%

.chat-content
  position: fixed
  top: 12%
  height: fit-content
  border: 1px solid red

.chat-box
  position: fixed
  top: 78%
  bottom: 1%
  heght: 300px
  border: 1px solid green

