<div class="toFollow">
  <h3>Who to follow</h3>
  <div class="recomendation-preview flex">
    <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
    <div class="user-info">
      <a href="#">Roman Ceresnak, PhD</a>
      <p class="user-preview">Face to Face With Dall-E, The AI Artist That </p>
    </div>
    <div class="follow-btn">Follow</div>

  </div>

  <div class="recomendation-preview flex">
    <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
    <div class="user-info">
      <a href="#">Tarantool</a>
      <p class="user-preview">AWS Cloud Architect. I write about education, fitness and</p>
    </div>
    <div class="follow-btn">Follow</div>

  </div>

  <div class="recomendation-preview flex">
    <img class="avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
    <div class="user-info">
      <a href="#">Team AV</a>
      <p class="user-preview">This is the Official Handle of Analytics Vidhya. In case of/p>
    </div>
    <div class="follow-btn">Follow</div>

  </div>
  <a href="#" class="link-more">See more suggestions</a>
</div>
