<div class="left-bar h-full">
  <div class="group logo flex">
    <span class="logo1"></span>
    <span class="logo2"></span>
    <span class="logo3"></span>
  </div>
  <div class="groups">
    <div class="group">
      <div class="left-bar-items m-4 my-6"><fa-icon [icon]="faBell"></fa-icon></div>
      <div class="left-bar-items m-3 my-6"><fa-icon [icon]="faHome"></fa-icon></div>
      <div class="left-bar-items m-4 my-6"><fa-icon [icon]="faNotes"></fa-icon></div>
      <div class="left-bar-items m-4 my-6"><fa-icon [icon]="faBookmark"></fa-icon></div>
    </div>
    <hr class="my-12">

    <div class="group my-6">
      <div class="left-bar-items m-4 my-6"><fa-icon [icon]="faPenToSquare"></fa-icon></div>
      <div class="left-bar-items m-4 my-6"><fa-icon [icon]="faMessage"></fa-icon></div>
    </div>
  </div>

  <div class="group">
    <div class="left-bar-items m-4 user-logo">o</div>
  </div>
</div>





