.left-bar
  margin: 30px 50px 30px 20px
  font-size: 1.5em
  margin-top: 200px
  float: right

  .logo
    position: fixed
    margin: 5px
    top: 40px

  .user-logo
    position: fixed
    bottom: 2%

  .groups
    position: fixed
    top: 17%
    bottom: 30%


@media only screen and (max-width: 1255px)
  .left-bar
    float: left

